.app {
  width: 100%;
  min-height: 100vh;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  flex: 1 0 32%;
  border: 1px solid greenyellow;
  font-size: 32px;
  color: greenyellow;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  min-height: 100px;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
}